# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ===== Django =====
db.sqlite3
media/
staticfiles/
*.log

# ===== Environment / Secret =====
.env
.env.local
.env.production

# ===== Virtual Environment =====
venv/
env/
.venv/
.env/

# ===== IDE =====
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini
